<nav class="main-header">
    <ul class="nav__items">
        <li class="nav__item <%= path === '/' ? 'active': '' %>"><a href="/">Home</a></li>
        <li class="nav__item <%= path === '/admin/add-task' ? 'active' : '' %>"><a href="/admin/add-task">Add Task</a></li>
        <!-- <li class="nav__item <%= path === '/admin/delete-task' ? 'active' : '' %>"><a href="/admin/delete-task">Delete Task</a></li> -->
    </ul>
</nav>