<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/tasks.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <div class="task-panel">
            <div class="task">
                <h1 class="task__title"><%=task.title%></h1>
                <p class="task__description"><%=task.description%></p>
            </div>
        </div>
    </main>
</body>

</html>